.section {
  align-self: start;
  background: #ffffff;
}
.cards {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
  border-radius: 20px;
}
.service {
  padding: 30px;
  height: 202px;
}
.rep {
  background: #d6f0ff;
  height: 157px;
  border-radius: 20px;
  padding: 30px;
}
.rep h3 {
  color: #0967b0 !important;
}
.rep h3 + a > p,
.rep h3 + p {
  margin-bottom: 25px;
}
.section h3 {
  margin-top: 25px;
  margin-bottom: 5px;
  font-family: Foundry;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  text-transform: uppercase;
  color: #000000;
  opacity: 0.6;
}
#cards {
  margin: 0 25px 60px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 315px);
  grid-gap: 20px;
  justify-content: center;
}
