nav {
  width: 100%;
  line-height: 60px; /* Vertically center the text there */
  padding-top: 10px;
  color: white;
}
.container {
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
  background-color: #1b1a18 !important;
}
